/* Overall  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Mono", monospace;
  background-color: rgb(248, 242, 242);
}
h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 3em;
  transition: 0.5s;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  font-size: 1.75em;
  font-weight: bold;
  color: whitesmoke;
}

/* main header / Navbar  */
.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background-color: black;
  border-radius: 0 0 10px 10px;
  margin-bottom: 100px;
}
.main-nav ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.main-nav ul li a {
  color: red;
  position: relative;
  transition: ease 0.5s;
}
.main-nav ul li a:hover {
  color: darkred;
  transition: ease 0.5s;
}
.main-nav ul li a:hover::after {
  content: "";
  display: block;
  border: 5px solid darkred;
  width: 50%;
  position: absolute;
  border-radius: 10px;
  transition: ease 0.5s;
}

/* Main  */

/* about section  */

.about .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 60px;
  margin-bottom: 150px;
}

.about .container img {
  border-radius: 30px;
  box-shadow: 5px 5px 5px black;
}

.about .container #container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  padding: 25px;
}

.about .container #container-right h2 {
  font-size: 2em;
  position: relative;
}

.about .container #container-right h2::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 5px solid black;
  width: 125%;
  border-left: 20px solid black;
  height: 120%;
  left: -35px;
  top: 1px;
  border-radius: 5px;
}

.about .container #container-right p {
  font-size: 1.2em;
  text-align: center;
  line-height: 25px;
}

/* my work section  */

.work .container {
  display: flex;
  justify-content: space-around;
  height: 1250px;
  margin-bottom: 100px;
}

.work .container #wrapper {
  margin-left: 150px;
  padding-left: 75px;
}

.work .container #wrapper h2 {
  margin-top: 20px;
  position: relative;
  font-size: 2em;
}

.work .container #wrapper h2::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 5px solid black;
  width: 125%;
  border-left: 20px solid black;
  height: 120%;
  left: -35px;
  top: 1px;
  border-radius: 5px;
}

.work .container .container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work .container .container-right h3 {
  padding-top: 30px;
}

.work .container .container-right a img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.work .container .container-right a img:hover {
  transition: ease 0.2s;
  box-shadow: 5px 5px 5px black;
}

.smaller-images {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.small-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}

.small-img img {
  margin-top: 50px;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.small-img img:hover {
  transition: ease 0.2s;
  box-shadow: 5px 5px 5px black;
}

/* footer  */
footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: black;
}
footer form {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
  margin: auto;
  padding: 10px;
  width: 600px;
  height: 325px;
  border-radius: 20px;
  align-items: center;
}
footer form label {
  padding: 10px 0;
}
footer form input {
  padding: 5px 0;
  width: 200px;
  border: 3px solid black;
  border-radius: 10px;
}
footer form textarea {
  margin: 15px;
}
.input-name {
  padding: 10px 0;
  font-weight: bold;
  font-size: 1em;
}
.input-email {
  padding: 10px 0;
  font-weight: bold;
  font-size: 1em;
}

.user-textarea #userInput {
  width: 400px;
  height: 130px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 1.3em;
}
footer .submit-btn {
  text-align: center;
}

footer h4 {
  text-align: center;
  font-size: 1.5em;
  color: white;
  padding: 20px;
}
footer p {
  text-align: center;
  color: white;
  font-size: 1em;
  margin: 20px 0;
}
footer .submit-btn input {
  background-color: red;
}
footer .submit-btn input:hover {
  cursor: pointer;
  background-color: darkred;
  transition: 0.2s;
}

/* media queries Tablet  */

@media screen and (max-width: 1315px) {
  /* header/nav  */
  .main-header {
    flex-direction: column;
  }
  .main-header h1,
  main-nav {
    padding-bottom: 20px;
  }

  /* main  */
  /* about section  */

  .about .container {
    flex-direction: column;
    align-items: center;
  }
  .about .container img {
    width: 75%;
  }
  .about .container #container-right h2 {
    margin: 60px 0;
  }
  .about .container #container-right p {
    margin: 20px 0;
  }

  /* my work section  */

  .work .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .work .container #wrapper {
    padding: 0;
    margin: 0;
  }

  .work .container #wrapper h2 {
    margin-bottom: 80px;
    text-align: center;
  }

  /* smaller images  */

  section .small-img {
    margin: 60px;
  }
  section .smaller-images .small-img a img {
    width: 400px;
    margin: 20px;
  }
}

/* smaller tablet  */

@media screen and (max-width: 870px) {
  /* header section  */
  .main-header {
    margin-bottom: 20px;
  }

  /* about section  */
  .about .container {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 0px;
  }

  /* work section  */
  .work .container .container-right a img {
    height: 70rem;
    width: 99%;
    padding: 20px;
  }
  .about .container #container-right {
    padding: 0px;
  }
  .work .container #wrapper h2 {
    margin-top: 75px;
  }
  .smaller-images {
    padding: 0;
  }

  /* footer section  */
  footer form {
    width: 415px;
  }

  .user-textarea #userInput {
    width: 300px;
    height: 130px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1.2em;
  }
}
/* mobile */
@media screen and (max-width: 575px) {
  /* header  */
  .main-header h1 {
    font-size: 1.5em;
  }
  .main-nav ul li a {
    font-size: 1em;
  }
  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }
  .main-nav ul li {
    padding: 10px;
  }
  .main-nav ul li a:hover::after {
    border: 2px solid rgba(209, 181, 181, 0.863);
  }

  /* about section  */
  .about .container {
    padding: 0;
    margin: 0;
  }
  .about .container img {
    width: 90%;
  }

  .about .container #container-right h2 {
    font-size: 1.5em;
    margin: 40px 0;
  }
  .about .container #container-right p {
    font-size: 1em;
  }

  .work .container .container-right a img {
    height: 40rem;
  }

  .work .container #wrapper h2 {
    margin: 0;
  }

  /* my work section  */
  .work .container #wrapper h2 {
    font-size: 1.5em;
    margin: 30px 0;
  }
  .work .container {
    justify-content: flex-start;
    height: 100%;
    margin-bottom: 60px;
  }
  section .small-img h3 {
    text-align: center;
  }
  /* smaller images  */
  section .smaller-images .small-img a img {
    margin: 0;
  }

  /* footer section  */
  footer form {
    width: 70%;
    height: 80%;
    align-items: center;
  }
  footer .input-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 0;
  }
  footer .input-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding-bottom: 10px;
  }
  footer form .user-textarea {
    text-align: center;
  }
  .user-textarea #userInput {
    width: 80%;
  }
  footer form input {
    width: 75%;
  }
  footer form .submit-btn {
    width: 75%;
    margin-bottom: 10px;
  }

  /* small mobile  */
  @media screen and (max-width: 280px) {
    /* header */
    .main-header h1 {
      font-size: 15px;
    }
    .main-nav ul li a {
      font-size: 10px;
    }
    .main-nav ul li a:hover::after {
      border: 2px solid rgba(209, 181, 181, 0.863);
    }

    /* work section  */
    section .small-img {
      height: 100px;
    }
    .smaller-images {
      padding: 0;
    }
    .work .container {
      height: 100%;
    }
    section .smaller-images .small-img a img {
      margin: 0;
      width: 150px;
    }
    .work .container .container-right a img {
      height: 20rem;
    }
    .work .container .container-right h3 {
      text-align: center;
      padding: 0;
    }
  }
  @media screen and (max-width: 240px) {
    footer .input-name {
      width: 150px;
    }

    footer .input-email {
      width: 150px;
    }
    .user-textarea #userInput {
      width: 110px;
    }
  }
}
